

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(17,69,46);
  background: linear-gradient(90deg, rgba(17,69,46,1) 0%, rgba(63,171,156,0.9220063025210083) 35%, rgba(65,184,131,0.969625350140056) 100%);
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
/*  margin-left: -40px;*/
}

#app {
  width: 95%;
  min-width: 360px;
  max-width: 1000px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;

  



    #profile {
      width: 80%;
      margin: 25px auto;

      &.expanded .wrap {
        height: 210px;
        line-height: initial;

        p {
          margin-top: 20px;
        }

        i.expand-button {
          -moz-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }

      .wrap {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        -moz-transition: 0.3s height ease;
        -o-transition: 0.3s height ease;
        -webkit-transition: 0.3s height ease;
        transition: 0.3s height ease;

        img {
          width: 50px;
          border-radius: 50%;
          padding: 3px;
          border: 2px solid #e74c3c;
          height: auto;
          float: left;
          cursor: pointer;
          -moz-transition: 0.3s border ease;
          -o-transition: 0.3s border ease;
          -webkit-transition: 0.3s border ease;
          transition: 0.3s border ease;
        }

        p {
          float: left;
          margin-left: 15px;
        }

        i.expand-button {
          float: right;
          margin-top: 23px;
          font-size: 0.8em;
          cursor: pointer;
          color: #435f7a;
        }

        #status-options {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          width: 150px;
          margin: 70px 0 0 0;
          border-radius: 6px;
          z-index: 99;
          line-height: initial;
          background: #435f7a;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;

          &.active {
            opacity: 1;
            visibility: visible;
            margin: 75px 0 0 0;
          }

          &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 8px solid #435f7a;
            margin: -8px 0 0 24px;
          }

          ul {
            overflow: hidden;
            border-radius: 6px;

            li {
              padding: 15px 0 30px 18px;
              display: block;
              cursor: pointer;

              &:hover {
                background: #496886;
              }

              span.status-circle {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 5px 0 0 0;

                &:before {
                  content: '';
                  position: absolute;
                  width: 14px;
                  height: 14px;
                  margin: -3px 0 0 -3px;
                  background: transparent;
                  border-radius: 50%;
                  z-index: 0;
                }
              }

              p {
                padding-left: 12px;
              }

              &#status-online {
                span.status-circle {
                  background: #2ecc71;
                }

                &.active span.status-circle:before {
                  border: 1px solid #2ecc71;
                }
              }

              &#status-away {
                span.status-circle {
                  background: #f1c40f;
                }

                &.active span.status-circle:before {
                  border: 1px solid #f1c40f;
                }
              }

              &#status-busy {
                span.status-circle {
                  background: #e74c3c;
                }

                &.active span.status-circle:before {
                  border: 1px solid #e74c3c;
                }
              }

              &#status-offline {
                span.status-circle {
                  background: #95a5a6;
                }

                &.active span.status-circle:before {
                  border: 1px solid #95a5a6;
                }
              }
            }
          }
        }

        #expanded {
          padding: 100px 0 0 0;
          display: block;
          line-height: initial !important;

          label {
            float: left;
            clear: both;
            margin: 0 8px 5px 0;
            padding: 5px 0;
          }

          input {
            border: none;
            margin-bottom: 6px;
            background: #32465a;
            border-radius: 3px;
            color: #f5f5f5;
            padding: 7px;
            width: calc(100% - 43px);

            &:focus {
              outline: none;
              background: #435f7a;
            }
          }
        }
      }
    }

    .sidepanel-top {
      margin-top: 16px;
      margin-bottom: 7.5px;

        i {
          color: #BEBEBE;

          &.fa.fa-bars {
            font-size: 20px;
          }
        }

      .menu {
        margin-top: -1px;
        position: absolute;

        label {
          cursor: pointer;
          padding: 10px 10px 10px 10px;
          position: absolute;
          margin: 0 0 0 6px;             
        }
      }

      #search {
        /*border-top: 1px solid #32465a;
        border-bottom: 1px solid #32465a;*/
        font-weight: 300;
        width: 60%;
        margin-left: 50px;


        label {
          position: absolute;
          margin: 10px 0 0 10px;
        }

        input {
          font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
          padding: 12px 10px 10px 15px;
          width: calc(100% - 25px);
          border: none;
          background: #F1F1F1;
          color: #f5f5f5;


          border-radius: 5px;


          &:focus {
            outline: none;
            background: #435f7a;
          }

          &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
            color: #f5f5f5;
          }
        }
      }      
    }



    #contacts {
      height: calc(100% - 177px);
      overflow-y: scroll;
      overflow-x: hidden;

      

      &.expanded {
        height: calc(100% - 334px);
      }

      &::-webkit-scrollbar {
        width: 0px;
        //background: transparent;
      }

      /*&::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
      }*/

      ul li.contact {
        position: relative;
        padding: 10px 0 15px 0;
        font-size: 0.9em;
        cursor: pointer;

        &:hover {
          background: #F1F1F1;
        }

        &.active {
          background: #419FD9;

          .meta {
            color: #F1F1F1 !important;
          }
        }

        .wrap {
          width: 88%;
          margin: 0 auto;
          position: relative;

          img {
            width: 40px;
            border-radius: 50%;
            float: left;
            margin-right: 10px;
          }

          .meta {
            padding: 2px 0 0 0;
            color: #111;
            

            .name {
              font-weight: 600;
              
            }

            .preview {
              margin: 1px 0 0 0;
              padding: 10px 0 1px;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -moz-transition: 1s all ease;
              -o-transition: 1s all ease;
              -webkit-transition: 1s all ease;
              transition: 1s all ease;
              font-size: 0.85em;
            }
          }
        }
      }
    }

    #bottom-bar {
      position: absolute;
      width: 100%;
      bottom: 0;

      button {
        float: left;
        border: none;
        width: 50%;
        padding: 10px 0;
        background: #32465a;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;

        &:focus {
          outline: none;
        }

        &:nth-child(1) {
          border-right: 1px solid #2c3e50;
        }

        &:hover {
          background: #435f7a;
        }

        i {
          margin-right: 3px;
          font-size: 1em;
        }
      }
    }
  }

  .content {
    float: right;
    width: 66%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url('assets/trava.svg') center center;
    background-size: cover;
    

    /*background: linear-gradient(90deg, rgba(48,51,70,1) 0%, rgba(63,171,156,0.9220063025210083) 35%, rgba(17,69,46,1) 100%);*/

    .contact-profile {
      width: 100%;
      height: 60px;
      line-height: 60px;

      /*background: #f5f5f5;*/

      /*background: #233040;*/
      background: #FFFFFF;

      border-left: 2px solid #F1F1F1;


      .box-first {
        position: relative;
        margin-left: 20px;

        img {
          width: 40px;
          border-radius: 50%;
          float: left;
          margin: 9px 12px 0 9px;
        }

        .name {
          position: absolute;
          margin-top: -10px;
        }

        .status {
          position: absolute;
          margin-top: 13px;
          color: rgba(0, 0, 0, .35);
        }

      }



      .social-media {
        float: right;

        i {
          margin-left: 14px;
          cursor: pointer;

          &:nth-last-child(1) {
            margin-right: 20px;
          }

          &:hover {
            color: #435f7a;
          }
        }
      }
    }

    .messages {
      height: auto;
      min-height: calc(100% - 93px);
      max-height: calc(100% - 93px);
      overflow-y: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
      }

      ul li {
        display: inline-block;
        clear: both;
        float: left;
        margin: 15px 15px 5px 15px;
        width: calc(100% - 25px);
        font-size: 0.9em;

        &:nth-last-child(1) {
          margin-bottom: 20px;
        }

        &.sent {
          img {
            margin: 6px 8px 0 0;
          }

          p {
            //background: #233040;
            background: rgba(255, 255, 255, .9);

            color: #1C1C1C;
            float: right;
          }
        }

        &.replies {
          img {
            float: right;
            margin: 6px 0 0 8px;
          }

          p {
            //background: #0D9797;
            background: #EFFDDE;

            
            color: #1C1C1C;
          }
        }

        img {
          width: 22px;
          border-radius: 50%;
          float: left;
        }

        p {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 20px;
          max-width: 205px;
          line-height: 130%;
        }
      }
    }

    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;

     /* background: #233040;*/
      background: #FFFFFF;
      border-left: 2px solid #F1F1F1;


      .wrap {
        position: relative;


        input {
          font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
          float: left;
          border: none;
          width: calc(100% - 200px);
          padding: 16px 20px 15px 10px;
          margin-left: 60px;
          font-size: 1em;
          color: #111;

        
        /* background: #233040;*/
          background: #FFFFFF;

          &:focus {
            outline: none;
          }
        }

        i {
          font-size: 30px;
        }

        .emoji {
          position: absolute;
          right: 60px;
          z-index: 4;
          margin-top: 10px;
          font-size: 1.1em;
          color: #435f7a;
          opacity: .5;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }

        .microphone {
          position: absolute;
          right: 20px;
          z-index: 4;
          margin-top: 10px;
          font-size: 1.1em;
          color: #435f7a;
          opacity: .5;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }  

        .fileclip {
          position: absolute;
          left: 20px;
          z-index: 4;
          margin-top: 10px;
          font-size: 1.1em;
          color: #435f7a;
          opacity: .5;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }                
      }
    }
  }
}


@media screen and (max-width: 360px) {
  #app {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap {
    height: 55px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap p {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #search {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 735px) {
  #app #sidepanel #bottom-bar button span {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #app .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}

@media screen and (min-width: 900px) {
  #app .content {
    width: calc(100% - 340px);
  }
}

@media screen and (max-width: 735px) {
  #app .content .messages {
    max-height: calc(100% - 105px);
  }
}

@media screen and (min-width: 735px) {
  #app .content .messages ul li p {
    max-width: 300px;
  }
}

@media screen and (max-width: 735px) {
  #app .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

@media screen and (max-width: 735px) {
  #app .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

@media screen and (max-width: 735px) {
  #app .content .message-input .wrap button {
    padding: 16px 0;
  }
}