* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

li {
  list-style: none;
}

#app {
  width: 100%;
  height: 100vh;
  background: #E6EAEA;
}

#sidepanel {
  float: left;
  min-width: 60px;
  max-width: 280px;
  width: 280px;
  height: 100%;
  background: #FFFFFF;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.menu {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  margin-top: 8px;
  position: absolute;
  cursor: pointer;
}




/* ------- ------- */


.message-input {
  max-width: 100%;
  width: 100%;
  height: 45px;
  background:  #FFFFFF;
  position: absolute;
  bottom: 0;
  margin-left: 280px;

  border-left: 1px solid #f5f5f5;
}

.info-panel {
  max-width: 100%;
  width: 100%;
  height: 60px;
  background:  #FFFFFF;
  margin-left: 280px;

  border-left: 1px solid #f5f5f5;
}


/* ------- ------- */


.messages {
  width: calc(100% - 280px);
  height: 100vh;
  margin-left: 280px;
  position: relative;
  
}

