/*############################################
------------------ GENERAL ------------------
############################################*/

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

li {
  list-style: none;
}

#app {
  width: 100%;
  height: 100vh;
  background: #E6EAEA;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

*::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .2);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 50px;
}


/*############################################
----------------- SIDEPANEL ------------------
############################################*/

#sidepanel {
  float: left;
  min-width: 60px;
  max-width: 280px;
  width: 280px;
  height: 100%;
  background: #FFFFFF;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.sidepanel-top {
  margin-top: 15px;
  padding-bottom: 10px;
}

.menu {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  margin-top: 8px;
  position: absolute;
  cursor: pointer;
}

#search {
  font-weight: 300;
  width: 80%;
  margin-left: 45px;
}

#search label {
  position: absolute;
  margin: 10px 0 0 10px;
}

#search input {
  border: none;
  margin-bottom: 6px;
  background: #F1F1F1;
  border-radius: 3px;
  color: #999999;
  padding: 12px 10px 10px 8px;
  width: calc(100% - 25px);
  border-radius: 5px;
  transition: all .1s ease-in;
}

#search input:focus {
  box-shadow: 0 0 0 1px rgba(48,163,230,.5);
  background: #FFFFFF;
}




/*############################################
----------------- CONTACTS ------------------
############################################*/

.contact {
  color: #222222;
  background: transparent;
  width: 100%;
  height: 70px;
  margin-bottom: 2px;
  text-align: left;
  cursor: pointer;

}

.contact h4 {
  padding-top: 14px;
  padding-left: 70px;
  font-weight: 600;
}

.contact p {
  color: #999999;
  padding-top: 10px;
  padding-left: 70px;   
  width: inherit;
  white-space: nowrap;
}

.contact:hover {
  background: #F1F1F1;
  transition: .1s;
}



/*############################################
----------------- MENU ------------------
############################################*/

.bm-burger-button {
  position: fixed;
  width: 16px;
  height: 16px;
  left: 14px;
  top: 25px;
  cursor: pointer;
}

.bm-burger-bars {
  background-color: #999999;
}

.line-style {
  position: absolute;
  height: 11%;
  left: 0;
  right: 0;
}

.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}

.bm-cross {
  background: #fff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #FFFFFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.bm-item-list {
  color: #fff;
  width: 100%;
  margin-top: 5%;
  font-size: 20px;
}

.bm-item-list img {
  width: 100%;
  height: 160px;
  position: absolute;
  left: -14px;
  top: -15px;
  opacity: .8;
  z-index: -1;
}

.bm-item-list .phone-number {
  font-size: 16px;
  margin-top: -15px;
}

.bm-item-list .extra {
  margin-top: 14px;
  display: block;
  margin-left: -35%;
}

.bm-item-list .extra > * {
  text-decoration: none;
  padding: 0.7em;
}

.bm-item-list > * > div {
  margin-left: 50px;
  font-weight: 600;
  color: #333;
  font-size: 18px;
  padding-left: 20px;
  cursor: pointer;
}

.bm-item-list > * > div:hover {
  background: #F1F1F1;
  transition: .1s;
}

.bm-item-list > * > div > svg { 
  padding-left: 30px;
  padding-right: 30px;
}

.bm-item-list .extra svg{
  width: 16px;
  height: 16px;
}



/*############################################
---------------- CONTACT INFO ---------------
############################################*/

.info-panel {
  max-width: 100%;
  width: 100%;
  height: 60px;
  background:  #FFFFFF;
  margin-left: 280px;

  border-left: 1px solid #f5f5f5;
}

.contact-info {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}



/*############################################
---------------- MESSAGE INPUT ---------------
############################################*/

.message-input {
  max-width: 100%;
  width: 100%;
  height: 45px;
  background:  #FFFFFF;
  position: absolute;
  bottom: 0;
  margin-left: 280px;

  border-left: 1px solid #f5f5f5;
}





/*############################################
------------------ MESSAGES ------------------
############################################*/

.conversation {
  height: calc(100% - 12px);
  position: relative;
  z-index: 0;
  margin-left: 280px;
}

.conversation .container {
  height: calc(100% - 68px);
  overflow-x: hidden;
  padding: 0 15px;
  margin-bottom: 5px;
  margin-top: 10px;

}

.conversation .container:after {
  content: "";
  display: table;
  clear: both;
}

.message__day {
  padding: 8px 10px;
  background: rgba(0, 0, 0, .2);
  text-align: center;
  width: 120px;
  border-radius: 100px;
  color: #fff;
  position: absolute;
  left: 55%;
  top: 5%;
  z-index: 9;
}

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
 /* z-index: -1;*/
  padding: 10px;
  border-radius: 8px;
  background: #EFFDDE;
  border-radius: 5px 0px 5px 5px;
  float: right;  
}

.message:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #EFFDDE;
  top: 0;
  right: -10px;
  position: absolute;

  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}


/*############################################
------------------ MESSAGE ------------------
############################################*/

