/*############################################
------------------ GENERAL ------------------
############################################*/

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background: #E6EAEA;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

#app {
  width: 100%;
}

.home {
  width: 100%;
  height: 100vh;
  background: #E6EAEA;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-default {
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  line-height: 3.4rem;
  font-size: 25px;
  color: #fff;
}

*::-webkit-scrollbar {
  transition: all .5s;
  width: 6px;
  height: 1px;
  z-index: 10;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .2);
}

*::-webkit-scrollbar-thumb {
  background: rgba(10, 10, 10, .2);
  border-radius: 50px;
}


/*############################################
----------------- SIDEPANEL ------------------
############################################*/

.sidepanel {
  float: left;
  width: 280px;
  height: 100%;
  background: #FFFFFF;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-in-out;
}

.sidepanel.hide {
  transition: all .2s ease-in-out;
  width: 74px;
}


.sidepanel.hide ~ .info-panel {
  margin-left: 0;
}

.sidepanel.hide ~ .message-input{
  margin-left: 0;
}





.sidepanel-top {
  margin-top: 15px;
  padding-bottom: 10px;
}

.menu {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  margin-top: 8px;
  position: absolute;
  cursor: pointer;
}

#search {
  font-weight: 300;
  width: 80%;
  margin-left: 45px;
}

#search label {
  position: absolute;
  margin: 10px 0 0 10px;
}

#search input {
  border: none;
  margin-bottom: 6px;
  background: #F1F1F1;
  border-radius: 3px;
  color: #999999;
  padding: 12px 10px 10px 8px;
  width: calc(100% - 25px);
  border-radius: 5px;
  transition: all .1s ease-in;
}

#search input:focus {
  box-shadow: 0 0 0 1px rgba(48,163,230,.5);
  background: #FFFFFF;
}




/*############################################
----------------- CONTACTS ------------------
############################################*/

.contact-user {
  color: #222222;
  background: transparent;
  width: 100%;
  height: 70px;
  margin-bottom: 2px;
  text-align: left;
  cursor: pointer;
  padding-left: 10px;
}

.contact-user h4 {
  padding-top: 14px;
  padding-left: 70px;
  font-weight: 600;
}

.contact-user p {
  color: #999999;
  padding-top: 10px;
  padding-left: 70px;   
  width: initial;
  white-space: nowrap;
  padding-right: 10px;
}

.contact-user:hover {
  background: #F1F1F1;
  transition: .1s;
}

.contacts .receiving-date {
  position: absolute;
  right: 10px;
  margin-top: -19px;
  font-size: 14px;
  color: #999999;
}

.contacts li img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 8px -2px;
  border-radius: 50%;
  position: absolute;
}


/*############################################
----------------- MENU ------------------
############################################*/

.sidepanel .bm-burger-button {
  position: fixed;
  width: 16px;
  height: 16px;
  left: 14px;
  top: 25px;
  cursor: pointer;
}

.sidepanel .bm-burger-bars {
  background-color: #999999;
}

.sidepanel .line-style {
  position: absolute;
  height: 11%;
  left: 0;
  right: 0;
}

.sidepanel .cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}

.sidepanel .bm-cross {
  background: #fff;
}

.sidepanel .bm-cross-button {
  height: 24px;
  width: 24px;
}

.sidepanel .bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #FFFFFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /*0.5 second transition effect to slide in the sidenav*/
}

.sidepanel .bm-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.sidepanel .bm-item-list .menu-points {
  margin-left: -100px;
}

.sidepanel .bm-item-list {
  color: #fff;
  width: 100%;
  margin-top: 5%;
  font-size: 20px;
}

.sidepanel .bm-item-list img {
  width: 100%;
  height: 160px;
  position: absolute;
  left: -14px;
  top: -15px;
  opacity: .8;
  z-index: -1;
}

.sidepanel .bm-item-list .phone-number {
  font-size: 16px;
  margin-top: -15px;
}


.sidepanel .bm-item-list ul {
  font-weight: 600;
  color: #333;
  font-size: 18px;
  margin-top: 10px;
  display: block;
}

.sidepanel .bm-item-list ul li {
  text-decoration: none;
  padding: 0.7em;
  width: 100%;
  cursor: pointer;
  transition: all .1s ease-in-out;
  padding-left: 90px;
}

.sidepanel .bm-item-list ul li:hover {
  background: #F1F1F1;
}

.sidepanel .bm-item-list ul li i {
  padding-right: 25px;
  vertical-align: middle;

}



/*############################################
---------------- INFO TOP BAr ---------------
############################################*/

.info-panel {
  max-width: 100%;
  width: 100%;
  height: 60px;
  background:  #FFFFFF;
  margin-left: 280px;

  border-left: 1px solid #f5f5f5;
}

.info-navigation {
  position: absolute;
  right: 10px;
  top: 17px;
}

.info-navigation ul li {
  width: 16px;
  height: 20px;
  margin: 0px 10px;
  padding: 5px 0px;
  float: left;
  cursor: pointer;
}


/*############################################
---------------- CONTACT INFO ---------------
############################################*/

.contact-info {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding-bottom: 50px;
  padding-top: 50px;
}

.contact-settings-content {
  background: #F1F1F1;
}

.contact-settings-content h3 {
  position: absolute;
  padding: 15px 20px;
  font-family: 'Arial';
}

.contact-settings-content header, 
.contact-settings-content section, 
.contact-settings-content footer {
  padding: 20px;
  background: #fff;
  margin-bottom: 10px;
}

.contact__header .close{
  float: left;
  position: absolute;
  right: 27px;
  top: 23px;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;   
}

.icon {
  fill: #999999;
}

.contact__header .contact-profile {
  margin-top: 50px;
}

.contact__header .contact-profile .contact__image {
  background: coral;
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%; 
}

.contact__header .contact-profile .contact__name {
  flex-basis: calc(100% - 250px);
  margin-top: -25px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
}

.contact__header .contact-profile .contact__status {
  margin-left: -110px;
  padding-top: 30px;
  color: #999999;
}

.contact__info svg {
  padding-top: 15px;
}

.contact__info .contact__phone {
  margin-top: -60px;
}

.contact__info .contact__phone label {
  margin-top: 50px;
  margin-left: -160px;
  color: #999999;
}

.contact__info .contact__phone #number {
  padding-left: 50px;
  flex-basis: calc(100% - 200px);
}

.contact__info .contact__name #name {
  padding-left: 50px;
  flex-basis: calc(100% - 200px); 
}

.contact__info .contact__name label {
  margin-top: 60px;
  margin-left: -160px;
  color: #999999; 
}

.contact__info .contact__notifications {
  margin-top: 30px;
}

.contact__info .contact__notifications #notification {
  padding-left: 30px;
  flex-basis: calc(100% - 100px);   
}

.contact__actions ul {
  width: 100vw;
  margin-top: -35px;
  margin-left: -20px;
  line-height: 1.4;
}

.contact__actions ul li {
  transition: .1s;
  padding: 10px;
  cursor: pointer;
  padding-left: 60px;
}

.contact__actions ul li:hover {
  background: #F1F1F1;
  transition: .1s;
}

/*############################################
---------------- MESSAGE INPUT ---------------
############################################*/

.message-input {
  max-width: 100%;
  width: 100%;
  height: 45px;
  background:  #FFFFFF;
  position: absolute;
  bottom: 0;
  margin-left: 280px;
  
  border-left: 1px solid #f5f5f5;
}


.main-input {
  margin-left: 200px;
}




/*############################################
------------------ MESSAGES ------------------
############################################*/

.messages {
  height: calc(100% - 40px);
}

.conversation {
  height: calc(100% - 12px);
  position: relative;
  z-index: 0;
  margin-left: 280px;
}

.conversation .container {
  height: calc(100% - 68px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 15px;
  margin-bottom: 5px;
  margin-top: 10px;

}

.conversation .container:after {
  content: "";
  display: table;
  clear: both;
}

.message__day {
  padding: 8px 10px;
  background: rgba(0, 0, 0, .2);
  text-align: center;
  width: 120px;
  border-radius: 100px;
  color: #fff;
  position: absolute;
  left: 55%;
  top: 5%;
  z-index: 9;
}

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
 /* z-index: -1;*/
  padding: 10px;
  border-radius: 8px;
  background: #EFFDDE;
  border-radius: 5px 0px 5px 5px;
  float: right;  
}

.message:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #EFFDDE;
  top: 0;
  right: -10px;
  position: absolute;

  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}


/*############################################
------------------ MESSAGE ------------------
############################################*/

