#sidepanel {
  float: left;
  min-width: 60px;
  max-width: 280px;
  width: 280px;
  height: 100%;
  background: #FFFFFF;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.sidepanel-top {
  margin-top: 15px;
  padding-bottom: 10px;
}

.menu {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  margin-top: 8px;
  position: absolute;
  cursor: pointer;
}

#search {
  font-weight: 300;
  width: 80%;
  margin-left: 45px;
}

#search label {
  position: absolute;
  margin: 10px 0 0 10px;
}

#search input {
  border: none;
  margin-bottom: 6px;
  background: #F1F1F1;
  border-radius: 3px;
  color: #999999;
  padding: 12px 10px 10px 8px;
  width: calc(100% - 25px);
  border-radius: 5px;
  transition: all .1s ease-in;
}

#search input:focus {
  box-shadow: 0 0 0 1px rgba(48,163,230,.5);
  background: #FFFFFF;
}
